h1{
    font-family: 'Times New Roman', Times, serif;
    color: darkcyan;
    text-align: center;
}
.recipes{
    margin-top: 50px;
    background-color: darkgray;
}
.recipes li
{
    display: inline;
    margin-right: 10px;
}
ul{
    padding-top: 30px;
    padding-bottom: 30px;
}